<?xml version="1.0" encoding="utf-8"?>
<Settings>
  
  <!--服务器启动地址-->
  <setting key="API_URL" value="http://127.0.0.1:9000"></setting>
  <!--三色灯关闭指令-->
  <setting key="LightSDK_Close" value="01 06 00 10 00 00 88 0F "></setting>
  <!--三色灯开红灯指令-->
  <setting key="LightSDK_Red" value="01 06 00 10 00 01 49 CF "></setting>
  <!--三色灯开黄灯指令-->
  <setting key="LightSDK_Yellow" value="01 06 00 10 00 02 09 CE "></setting>
  <!--三色灯开绿灯指令-->
  <setting key="LightSDK_Green" value="01 06 00 10 00 04 89 CC "></setting>
  
  <!--三色灯串口-->
  <setting key="LightSDK_COM" value="COM3"></setting>
  <setting key="LightSDK_Rate" value="9600"></setting>
  <setting key="LightSDK_DataPosition" value="8"></setting>
  
</Settings>